body{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    
    padding: 0px;
    margin:0;
}
header h1{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-size: 40px;
    color: navy;

}

header{
    text-align: center;
    font-size: 20px;
    color: black;
    padding: 0px;
    font-family :Impact, 'Arial Narrow Bold', sans-serif;
    border-radius: 0px;
    margin: auto;
    max-width: 88%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
header h2{
    margin:0;
    font-family: sans-serif;
}

.container{
    background-color :rgb(168, 217, 217) ;
    padding-left: 20px;
    margin: auto;
     border-radius: 8% ;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Align #ap, #bp, #cp on the same line */
#home, #about, #services {
    display: inline-block;
    width: 32%;
    vertical-align: top;
    box-sizing: border-box;
}

.products{
    margin-top: 20px;
    padding: 30px;
    padding-left: 40px;
}
.product-list ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* Align #ap, #bp, #cp on the same line */
.product-list li {
    display: inline-block;
    padding-left: 2px;
    vertical-align: top;
    box-sizing: border-box;
     margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #0c0707;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
}

.product-list li p:hover {
    color: #e88a4fa8;
    transition: color 0.3s;
}
.product-list img {
    max-width: 100%;
    display: block;
    padding-top: 10px;
     width: 250px;
    height:  260px;
    margin: 20px auto;
    padding: 0px;
     border-radius: 10%;
    object-fit: cover;
    border: 3px solid #ccc;
    cursor: pointer;
}
.product-list img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}


.seperate{
    height: 2px;
    background-color: black;
    margin: 20px 0;
    width: 100%;
}

footer{
    text-align: center;
    font-size: 14px;
    color: #666;
    padding: 10px;
    margin-top: 20px;
    border-top: 1px solid #ccc;
}
